*{
  margin: 0;
  padding: 0;
}

.contenido-inicio{
  width: 100%;
  height: 600px;
  border-top: 10px solid rgba(0, 0, 0, 0.575);
  border-radius: 20px;
  background:rgba(0, 0, 0, 0.473);
 
}

.contenidos{
  padding-top: 200px;
  text-align: center;
}

.contenidos h1{
font-size: 80px;
color: blanchedalmond;
}
.contenidos p{
  font-size: 20px;
  color: blanchedalmond;
}

/* Boton del contenido de inicio */

.contenidos a{
  margin: 28px 0 0 0;
    width: 130px;
    display: inline-block;
    background: #de1f1f;
    text-align: center;
    color: #fff;
    padding: 12px 0;
    text-decoration: none;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 14px;
    border-radius: 5px;
    box-shadow: 0 8px 32px rgba(212, 21, 21, 0.46);    
}

.contenidos a:hover{
  box-shadow: 0px 0px 10px rgb(255, 255, 255);
  border-radius: 5px;

}

/*Logo del restaurante*/
.logo h1 {
  font-size: 25px;
  font-family: "Old English Text MT";
  background: rgb(175, 0, 0);
  width: 140px;
  padding: 5px;
  text-align: center;
  color: white;
  border: 5px  rgb(255, 255, 255) double;
  border-radius: 15px;
  
}

.logo{
position: absolute;
left: 43%;
}
/*___________new change________________*/
.logo:hover{
  box-shadow: 0px 0px 10px rgb(255, 255, 255);
  border-radius: 15px;

}